In [94]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import OneHotEncoder, LabelEncoder
import re

In [95]:
data = pd.read_json('data/cocktail_dataset.json')
data

        id  ...                                        ingredients
0    11000  ...  [{'id': 170, 'name': 'Soda water', 'descriptio...
1    11001  ...  [{'id': 513, 'name': 'Water', 'description': '...
2    11002  ...  [{'id': 305, 'name': 'Light Rum', 'description...
3    11003  ...  [{'id': 482, 'name': 'Sweet Vermouth', 'descri...
4    11004  ...  [{'id': 409, 'name': 'Powdered Sugar', 'descri...
..     ...  ...                                                ...
129  11985  ...  [{'id': 305, 'name': 'Light Rum', 'description...
130  11987  ...  [{'id': 137, 'name': 'Coffee Brandy', 'descrip...
131  11989  ...  [{'id': 250, 'name': 'Grenadine', 'description...
132  11991  ...  [{'id': 2, 'name': 'Gin', 'description': 'Gin ...
133  11993  ...  [{'id': 179, 'name': 'Dark Rum', 'description'...

[134 rows x 11 columns]

# Dropping unecessary columns

In [96]:
def drop_unecessary_columns(data: pd.DataFrame, columns: list) -> pd.DataFrame:
    return data.drop(columns=columns)

In [97]:
data = drop_unecessary_columns(data, ['imageUrl', 'createdAt', 'updatedAt', 'id'])
data

                      name  ...                                        ingredients
0                   Mojito  ...  [{'id': 170, 'name': 'Soda water', 'descriptio...
1            Old Fashioned  ...  [{'id': 513, 'name': 'Water', 'description': '...
2          Long Island Tea  ...  [{'id': 305, 'name': 'Light Rum', 'description...
3                  Negroni  ...  [{'id': 482, 'name': 'Sweet Vermouth', 'descri...
4             Whiskey Sour  ...  [{'id': 409, 'name': 'Powdered Sugar', 'descri...
..                     ...  ...                                                ...
129  Quarter Deck Cocktail  ...  [{'id': 305, 'name': 'Light Rum', 'description...
130              Queen Bee  ...  [{'id': 137, 'name': 'Coffee Brandy', 'descrip...
131        Queen Charlotte  ...  [{'id': 250, 'name': 'Grenadine', 'description...
132        Queen Elizabeth  ...  [{'id': 2, 'name': 'Gin', 'description': 'Gin ...
133                Quentin  ...  [{'id': 179, 'name': 'Dark Rum', 'description'...

[134 rows x 7 columns]

# Cleaning specific columns

In [ ]:
# here I am going to use vectors than normalized to keep dimensions at low number (max should around 13 rows)

## 'tags'

In [98]:
data[~data['tags'].isna()]

                      name  ...                                        ingredients
0                   Mojito  ...  [{'id': 170, 'name': 'Soda water', 'descriptio...
1            Old Fashioned  ...  [{'id': 513, 'name': 'Water', 'description': '...
2          Long Island Tea  ...  [{'id': 305, 'name': 'Light Rum', 'description...
3                  Negroni  ...  [{'id': 482, 'name': 'Sweet Vermouth', 'descri...
4             Whiskey Sour  ...  [{'id': 409, 'name': 'Powdered Sugar', 'descri...
5              Dry Martini  ...  [{'id': 189, 'name': 'Dry Vermouth', 'descript...
6                 Daiquiri  ...  [{'id': 305, 'name': 'Light Rum', 'description...
7                Margarita  ...  [{'id': 4, 'name': 'Tequila', 'description': '...
8                Manhattan  ...  [{'id': 20, 'name': 'Angostura Bitters', 'desc...
9              Moscow Mule  ...  [{'id': 1, 'name': 'Vodka', 'description': 'Vo...
10   After Dinner Cocktail  ...  [{'id': 32, 'name': 'Apricot Brandy', 'descrip...
12         Alabama Slammer  ...  [{'id': 18, 'name': 'Amaretto', 'description':...
13         Alaska Cocktail  ...  [{'id': 2, 'name': 'Gin', 'description': 'Gin ...
14               Alexander  ...  [{'id': 2, 'name': 'Gin', 'description': 'Gin ...
15        Brandy Alexander  ...  [{'id': 74, 'name': 'Brandy', 'description': '...
16          Alfie Cocktail  ...  [{'id': 296, 'name': 'Lemon vodka', 'descripti...
27              Angel Face  ...  [{'id': 2, 'name': 'Gin', 'description': 'Gin ...
29            Apricot Lady  ...  [{'id': 32, 'name': 'Apricot Brandy', 'descrip...
35         Banana Daiquiri  ...  [{'id': 47, 'name': 'Banana', 'description': N...
37           Black Russian  ...  [{'id': 1, 'name': 'Vodka', 'description': 'Vo...
39            Bloody Maria  ...  [{'id': 4, 'name': 'Tequila', 'description': '...
40             Bloody Mary  ...  [{'id': 1, 'name': 'Vodka', 'description': 'Vo...
56              Caipirinha  ...  [{'id': 81, 'name': 'Cachaca', 'description': ...
60      Champagne Cocktail  ...  [{'id': 56, 'name': 'Bitters', 'description': ...
66              Cuba Libre  ...  [{'id': 128, 'name': 'Coca-Cola', 'description...
83                Gin Fizz  ...  [{'id': 2, 'name': 'Gin', 'description': 'Gin ...
85               Gin Smash  ...  [{'id': 2, 'name': 'Gin', 'description': 'Gin ...
86                Gin Sour  ...  [{'id': 2, 'name': 'Gin', 'description': 'Gin ...
91               Godfather  ...  [{'id': 5, 'name': 'Scotch', 'description': 'S...
92               Godmother  ...  [{'id': 1, 'name': 'Vodka', 'description': 'Vo...
94       Harvey Wallbanger  ...  [{'id': 1, 'name': 'Vodka', 'description': 'Vo...
100     Jack Rose Cocktail  ...  [{'id': 26, 'name': 'Apple Brandy', 'descripti...
103           John Collins  ...  [{'id': 71, 'name': 'Bourbon', 'description': ...
104               Kamikaze  ...  [{'id': 1, 'name': 'Vodka', 'description': 'Vo...
113                Mai Tai  ...  [{'id': 106, 'name': 'Cherry', 'description': ...

[35 rows x 7 columns]

In [99]:
# Unpacking the 'tags' column 
tags = set([value for sublist in data['tags'] if sublist is not None for value in sublist])

tags

{'Alcoholic',
 'Asia',
 'Beach',
 'Breakfast',
 'Brunch',
 'Chilli',
 'Christmas',
 'Citrus',
 'Classic',
 'Cold',
 'ContemporaryClassic',
 'Dairy',
 'DinnerParty',
 'Expensive',
 'Fruity',
 'Hangover',
 'IBA',
 'Mild',
 'NewEra',
 'Nutty',
 'Savory',
 'Sour',
 'Strong',
 'StrongFlavor',
 'Summer',
 'USA',
 'Vegan',
 'Vegetarian'}

In [100]:
def add_tag_vector_column(df: pd.DataFrame, tag_column: str) -> pd.DataFrame:

    # Extract unique tags from all rows in the tag column
    unique_tags = sorted(set(tag for tags_list in df[tag_column].dropna() for tag in tags_list))
    
    # Function to generate the vector for each row
    def tag_vector(tags):
        return [1 if tag in tags else 0 for tag in unique_tags]
    
    # Apply the function to create a new column with the tag vector
    df['tag_vector'] = df[tag_column].apply(lambda tags: tag_vector(tags) if tags else [0] * len(unique_tags))
    df.drop(columns= tag_column, inplace=True)
    
    return df  


data = add_tag_vector_column(data, 'tags')

data

                      name  ...                                         tag_vector
0                   Mojito  ...  [1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, ...
1            Old Fashioned  ...  [1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, ...
2          Long Island Tea  ...  [0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
3                  Negroni  ...  [0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, ...
4             Whiskey Sour  ...  [1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, ...
..                     ...  ...                                                ...
129  Quarter Deck Cocktail  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
130              Queen Bee  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
131        Queen Charlotte  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
132        Queen Elizabeth  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
133                Quentin  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...

[134 rows x 7 columns]

## 'ingredients'

In [101]:
data['ingredients'][0]

[{'id': 170,
  'name': 'Soda water',
  'description': None,
  'alcohol': 1,
  'type': None,
  'percentage': None,
  'imageUrl': None,
  'createdAt': '2024-08-18T19:01:57.000+00:00',
  'updatedAt': '2024-08-18T19:01:57.000+00:00'},
 {'id': 305,
  'name': 'Light Rum',
  'description': 'Light rums, also referred to as "silver" or "white" rums, in general, have very little flavor aside from a general sweetness. Light rums are sometimes filtered after aging to remove any colour. The majority of light rums come from Puerto Rico. Their milder flavors make them popular for use in mixed drinks, as opposed to drinking them straight. Light rums are included in some of the most popular cocktails including the Mojito and the Daiquiri.',
  'alcohol': 1,
  'type': 'Rum',
  'percentage': None,
  'imageUrl': 'https://cocktails.solvro.pl/images/ingredients/light-rum.png',
  'createdAt': '2024-08-18T19:02:37.000+00:00',
  'updatedAt': '2024-08-18T19:02:37.000+00:00',
  'measure': '2-3 oz '},
 {'id': 312,
  'name': 'Lime',
  'description': 'A lime (from French lime, from Arabic līma, from Persian līmū, "lemon") is a hybrid citrus fruit, which is typically round, lime green, 3–6 centimetres (1.2–2.4 in) in diameter, and contains acidic juice vesicles.\r\n\r\nThere are several species of citrus trees whose fruits are called limes, including the Key lime (Citrus aurantifolia), Persian lime, kaffir lime, and desert lime. Limes are an excellent source of vitamin C, and are often used to accent the flavours of foods and beverages. They are grown year-round. Plants with fruit called "limes" have diverse genetic origins; limes do not form a monophyletic group.\r\n',
  'alcohol': 0,
  'type': 'Fruit',
  'percentage': None,
  'imageUrl': 'https://cocktails.solvro.pl/images/ingredients/lime.png',
  'createdAt': '2024-08-18T19:02:40.000+00:00',
  'updatedAt': '2024-08-18T19:02:40.000+00:00',
  'measure': 'Juice of 1 '},
 {'id': 337,
  'name': 'Mint',
  'description': 'Lamiaceae (/ˌleɪmiˈeɪsiˌaɪ/ or /ˌleɪmiˈeɪsiiː/) or Labiatae is a family of flowering plants commonly known as the mint or deadnettle family. Many of the plants are aromatic in all parts and include widely used culinary herbs, such as basil, mint, rosemary, sage, savory, marjoram, oregano, hyssop, thyme, lavender, and perilla. Some species are shrubs, trees (such as teak), or, rarely, vines. Many members of the family are widely cultivated, not only for their aromatic qualities but also their ease of cultivation, since they are readily propagated by stem cuttings. Besides those grown for their edible leaves, some are grown for decorative foliage, such as Coleus. Others are grown for seed, such as Salvia hispanica (chia), or for their edible tubers, such as Plectranthus edulis, Plectranthus esculentus, Plectranthus rotundifolius, and Stachys affinis (Chinese artichoke).\r\n\r\nThe family has a cosmopolitan distribution. The enlarged Lamiaceae contains about 236 genera and has been stated to contain 6,900 to 7,200 species, but the World Checklist lists 7,534. The largest genera are Salvia (900), Scutellaria (360), Stachys (300), Plectranthus (300), Hyptis (280), Teucrium (250), Vitex (250), Thymus (220), and Nepeta (200). Clerodendrum was once a genus of over 400 species, but by 2010, it had been narrowed to about 150.\r\n\r\nThe family has traditionally been considered closely related to the Verbenaceae; in the 1990s, phylogenetic studies suggested that many genera classified in the Verbenaceae should be classified in the Lamiaceae  or to other families in the order Lamiales.\r\n\r\nThe alternate family name Labiatae refers to the fact that the flowers typically have petals fused into an upper lip and a lower lip (labia in Latin). The flowers are bilaterally symmetrical with five united petals and five united sepals. They are usually bisexual and verticillastrate (a flower cluster that looks like a whorl of flowers, but actually consists of two crowded clusters). Although this is still considered an acceptable alternative name, most botanists now use the name Lamiaceae in referring to this family. The leaves emerge oppositely, each pair at right angles to the previous one (decussate) or whorled. The stems are frequently square in cross section, but this is not found in all members of the family, and is sometimes found in other plant families.',
  'alcohol': 0,
  'type': 'Flower',
  'percentage': None,
  'imageUrl': 'https://cocktails.solvro.pl/images/ingredients/mint.png',
  'createdAt': '2024-08-18T19:02:47.000+00:00',
  'updatedAt': '2024-08-18T19:02:47.000+00:00',
  'measure': '2-4 '},
 {'id': 476,
  'name': 'Sugar',
  'description': 'Sugar is the generic name for sweet-tasting, soluble carbohydrates, many of which are used in food.',
  'alcohol': 0,
  'type': None,
  'percentage': None,
  'imageUrl': 'https://cocktails.solvro.pl/images/ingredients/sugar.png',
  'createdAt': '2024-08-18T19:03:31.000+00:00',
  'updatedAt': '2024-08-18T19:03:31.000+00:00',
  'measure': '2 tsp '}]

In [102]:
def add_ingredient_vector_column(df: pd.DataFrame, ingredient_column: str) -> pd.DataFrame:
   
    # Extract unique ingredient names from all rows in the ingredient column
    unique_ingredients = set(
        ingredient['name'] for ingredients_list in df[ingredient_column].dropna() 
        for ingredient in ingredients_list
    )
    unique_ingredients = sorted(unique_ingredients)  # Ensure consistent ordering
    
    # Function to generate the vector for each row
    def ingredient_vector(ingredients):
        ingredient_names = [ingredient['name'] for ingredient in ingredients]
        return [1 if ingredient in ingredient_names else 0 for ingredient in unique_ingredients]
    
    # Apply the function to create a new column with the ingredient vector
    df['ingredient_vector'] = df[ingredient_column].apply(lambda ingredients: ingredient_vector(ingredients) if ingredients else [0] * len(unique_ingredients))
    df.drop(columns= ingredient_column, inplace=True)
    return df


# Apply the function to add the ingredient vector column
data = add_ingredient_vector_column(data, 'ingredients')

data

                      name  ...                                  ingredient_vector
0                   Mojito  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1            Old Fashioned  ...  [0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...
2          Long Island Tea  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
3                  Negroni  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
4             Whiskey Sour  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, ...
..                     ...  ...                                                ...
129  Quarter Deck Cocktail  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
130              Queen Bee  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
131        Queen Charlotte  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
132        Queen Elizabeth  ...  [0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, ...
133                Quentin  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...

[134 rows x 7 columns]

## 'instructions'

In [103]:
def add_process_vector_column(df: pd.DataFrame, instruction_column: str) -> pd.DataFrame:
    
    # domain-based processes in bartending
    common_cocktail_processes = [
        'shake', 'stir', 'muddle', 'strain', 'blend', 'pour', 'build', 'layer',
        'rim', 'garnish', 'fill', 'squeeze', 'top', 'mix', 'flame', 'crush', 
        'dilute', 'press', 'double strain', 'dry shake', 'whip', 'float', 
        'swizzle', 'infuse', 'zest'
    ]

    # Function to extract processes from the instructions
    def extract_processes_from_instructions(instruction, processes_list):
        # Extract processes (simple case-insensitive match for known processes)
        processes_found = [process for process in processes_list if re.search(rf'\b{process.lower()}\b', instruction.lower())]
        return processes_found

    # Apply the function to extract processes
    df['processes_in_instructions'] = df[instruction_column].apply(lambda x: extract_processes_from_instructions(x, common_cocktail_processes))

    # Get unique processes found across all instructions
    unique_processes = sorted(set(process for sublist in df['processes_in_instructions'] for process in sublist))

    # Function to create a binary vector for processes
    def process_vector(processes, all_processes):
        return [1 if process in processes else 0 for process in all_processes]

    # Add the vectorized process column to the DataFrame
    df['process_vector'] = df['processes_in_instructions'].apply(lambda processes: process_vector(processes, unique_processes))
    df.drop(columns= [instruction_column, 'processes_in_instructions'], inplace=True)
    return df

# Apply the function to add the process vector column
data = add_process_vector_column(data, 'instructions')

data

                      name  ...                                 process_vector
0                   Mojito  ...  [0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1]
1            Old Fashioned  ...  [0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0]
2          Long Island Tea  ...  [0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]
3                  Negroni  ...  [0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0]
4             Whiskey Sour  ...  [0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0]
..                     ...  ...                                            ...
129  Quarter Deck Cocktail  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0]
130              Queen Bee  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0]
131        Queen Charlotte  ...  [0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0]
132        Queen Elizabeth  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0]
133                Quentin  ...  [0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0]

[134 rows x 7 columns]

## normalize

In [104]:
def normalize_vectors(df: pd.DataFrame, vector_columns: list) -> pd.DataFrame:
       
        def vector_norm(vectors: list) -> float:
            #Calculate the norm (magnitude) of the vector
            return np.linalg.norm(vectors)
        
        # Loop through each vector column and compute the norm
        for col in vector_columns:
            df[f'{col}_norm'] = df[col].apply(vector_norm)
        
        df = df.drop(columns=vector_columns)
        
        return df

In [105]:
data = normalize_vectors(data, ['ingredient_vector', 'tag_vector', 'process_vector'])

# Standard preprocessing rest of columns

In [106]:
data

                      name  ... process_vector_norm
0                   Mojito  ...            2.236068
1            Old Fashioned  ...            1.732051
2          Long Island Tea  ...            1.000000
3                  Negroni  ...            1.414214
4             Whiskey Sour  ...            1.732051
..                     ...  ...                 ...
129  Quarter Deck Cocktail  ...            1.414214
130              Queen Bee  ...            1.414214
131        Queen Charlotte  ...            1.732051
132        Queen Elizabeth  ...            1.414214
133                Quentin  ...            1.732051

[134 rows x 7 columns]

## One Hot Encoding

In [107]:
def OHE_columns(df: pd.DataFrame, columns: list) -> pd.DataFrame:
    # Initialize OneHotEncoder
    ohe = OneHotEncoder(sparse_output=False, drop = 'if_binary', handle_unknown = 'infrequent_if_exist')  
    
    # Apply OHE to the specified columns
    ohe_encoded = ohe.fit_transform(df[columns])
    
    # Convert the result to a DataFrame with appropriate column names
    ohe_encoded_df = pd.DataFrame(ohe_encoded, columns=ohe.get_feature_names_out(columns))
    
    # Drop the original columns that were encoded and concatenate the encoded columns
    df = df.drop(columns, axis=1)
    df = pd.concat([df, ohe_encoded_df], axis=1)
    
    return df

# Apply the function to encode the columns
data = OHE_columns(data, ['category', 'alcoholic'])

data

                      name  ... alcoholic_1
0                   Mojito  ...         1.0
1            Old Fashioned  ...         1.0
2          Long Island Tea  ...         1.0
3                  Negroni  ...         1.0
4             Whiskey Sour  ...         1.0
..                     ...  ...         ...
129  Quarter Deck Cocktail  ...         1.0
130              Queen Bee  ...         1.0
131        Queen Charlotte  ...         1.0
132        Queen Elizabeth  ...         1.0
133                Quentin  ...         1.0

[134 rows x 9 columns]

In [108]:
def LE_columns(df: pd.DataFrame, columns: list) -> pd.DataFrame:

    # Dictionary to store the LabelEncoders for each column
    label_encoders = {}
    
    for col in columns:
        le = LabelEncoder()
        # Fit the LabelEncoder on the column and transform the values
        df[col] = le.fit_transform(df[col].astype(str))  # Converting to string to handle non-string types
        label_encoders[col] = le  
    
    return df

# Apply the function to label encode the columns
data = label_encode_columns(data, ['glass'])

data

                      name  glass  ...  category_Punch / Party Drink  alcoholic_1
0                   Mojito      5  ...                           0.0          1.0
1            Old Fashioned      6  ...                           0.0          1.0
2          Long Island Tea      5  ...                           0.0          1.0
3                  Negroni      6  ...                           0.0          1.0
4             Whiskey Sour      6  ...                           0.0          1.0
..                     ...    ...  ...                           ...          ...
129  Quarter Deck Cocktail      2  ...                           0.0          1.0
130              Queen Bee      2  ...                           0.0          1.0
131        Queen Charlotte      3  ...                           0.0          1.0
132        Queen Elizabeth      2  ...                           0.0          1.0
133                Quentin      2  ...                           0.0          1.0

[134 rows x 9 columns]